@model SmartMoveWebApp.Models.ViewModels.RegisterDriverViewModel
@{
    ViewBag.Title = "Become a Driver";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--== Login Page Content Start ==-->
<section id="login-page-wrap" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-8 m-auto">
                <div class="login-page-content">
                    <div class="login-form">
                        <h3>Become A Driver</h3>
                        @using (Html.BeginForm("RegisterDriver", "TruckOwners"))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "danger" })
                            <div class="name">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name" })
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="username">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email id" })
                                </div>
                            </div>
                            <div class="username">
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                </div>
                            </div>
                            <div class="username">
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                                </div>
                            </div>
                            <div class="username">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Phone Number" })
                                </div>
                            </div>
                            <div class="username">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Address1, new { @class = "form-control", placeholder = "Address Line 1" })
                                </div>
                            </div>
                            <div class="username">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Address2, new { @class = "form-control", placeholder = "Address Line 2" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control", placeholder = "Zip Code" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "City" })
                                    </div>
                                </div>
                            </div>
                            <div class="username">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.State, new { @class = "form-control", placeholder = "State" })
                                </div>
                            </div>
                            <div class="username">
                                <div class="form-group">
                                    @Html.DropDownListFor(m => m.TruckTypeId, Model.TruckTypes, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.TruckMake, new { @class = "form-control", placeholder = "Truck Make" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.TruckModel, new { @class = "form-control", placeholder = "Truck Model" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.TruckYear, new { @class = "form-control", placeholder = "Truck Year" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.LicensePlate, new { @class = "form-control", placeholder = "License Plate" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.TruckColor, new { @class = "form-control", placeholder = "Truck Color" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.DriverLicenseNumber, new { @class = "form-control", placeholder = "Driver License #" })
                                    </div>
                                </div>
                            </div>
                            <div class="username">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.VehicleRegNumber, new { @class = "form-control", placeholder = "Vehicle Registration Number" })
                                </div>
                            </div>
                            <div class="username">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.DriverInsurancePolicy, new { @class = "form-control", placeholder = "Driver Insurance Policy Number" })
                                </div>
                            </div>
                            <div class="log-btn">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Sign up</button>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="create-ac">
                        <p>Have an account? <a href="@Url.Action("Login", "TruckOwners")">Sign In</a></p>
                    </div>
                    <div class="login-menu">
                        <a href="@Url.Action("About", "Home")">About</a>
                        <span>|</span>
                        <a href="@Url.Action("Contact", "Home")">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Login Page Content End ==-->

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#Phone').keyup(function () {
                $(this).val($(this).val().replace(/(\d{3})\-?(\d{3})\-?(\d{4})/, '$1-$2-$3'))
            });
        });
    </script>
}