@model SmartMoveWebApp.Models.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--== Login Page Content Start ==-->
<section id="login-page-wrap" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 m-auto">
                <div class="login-page-content">
                    <div class="login-form">
                        <h3>Forgot Password</h3>
                        @using (Html.BeginForm("ForgotPassword", "Home"))
                        {
                            @Html.AntiForgeryToken()
                            <div class="name">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email *" })
                                            @Html.ValidationMessageFor(m => m.Email)
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                            <div class="log-btn">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Submit</button>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="create-ac">
                        <p>Have an account? <a href="@Url.Action("Login", "Home")">Sign In</a></p>
                    </div>
                    <div class="login-menu">
                        <a href="@Url.Action("About", "Home")">About</a>
                        <span>|</span>
                        <a href="@Url.Action("Contact", "Home")">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Login Page Content End ==-->
@section Scripts
{
    <script>
        $(document).ready(function () {
            $('nav.mainmenu ul li.active').removeClass('active');
        });
    </script>
}
