@model SmartMoveWebApp.Models.ViewModels.EditCustomerProfileViewModel
@{
    ViewBag.Title = "Edit Customer Profile";
    Layout = "~/Views/Shared/_CustomersLayout.cshtml";
}

<!--== Edit Profile Content Start ==-->
<div class="col-lg-9">
    <div class="tab-content" id="myTabContent">
        <!-- Dashboard  start -->
        <div class="tab-pane fade show active" id="team_member_1" role="tabpanel" aria-labelledby="tab_item_1">
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-member-info">
                        <h4 class="text-center">Edit Your Customer Profile</h4>
                        <h5 class="text-center">Note: Required fields are marked with <span style="color:red">*</span></h5>
                        
                        @using (Html.BeginForm("EditProfile", "Customers", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.CustomerId)

                            <div class="col-lg-12 profile-title">
                                <h4>Update Profile Picture</h4>
                            </div>
                            <div class="row form-group col-md-6">
                                @Html.LabelFor(m => m.ProfilePictureURL)
                                @Html.TextBoxFor(m => m.ProfilePictureURL, new { @class = "form-control", type = "file" })
                                @Html.ValidationMessageFor(m => m.ProfilePictureURL)
                            </div>
                            <div class="col-lg-12 profile-title">
                                <h4>General Information</h4>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.FirstName)<span style="color:red">*</span>
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name *" })
                                        @Html.ValidationMessageFor(m => m.FirstName)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.LastName)<span style="color:red">*</span>
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name *" })
                                        @Html.ValidationMessageFor(m => m.LastName)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Address1)<span style="color:red">*</span>
                                        @Html.TextBoxFor(m => m.Address1, new { @class = "form-control", placeholder = "Address Line 1 *" })
                                        @Html.ValidationMessageFor(m => m.Address1)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Address2)
                                        @Html.TextBoxFor(m => m.Address2, new { @class = "form-control", placeholder = "Address Line 2" })
                                        @Html.ValidationMessageFor(m => m.Address2)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ZipCode)<span style="color:red">*</span>
                                        @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control", placeholder = "Zip Code *" })
                                        @Html.ValidationMessageFor(m => m.ZipCode)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.City)<span style="color:red">*</span>
                                        @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "City *" })
                                        @Html.ValidationMessageFor(m => m.City)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.State)<span style="color:red">*</span>
                                        @Html.TextBoxFor(m => m.State, new { @class = "form-control", placeholder = "State *" })
                                        @Html.ValidationMessageFor(m => m.State)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Phone)<span style="color:red">*</span>
                                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Phone Number *" })
                                        @Html.ValidationMessageFor(m => m.Phone)
                                    </div>
                                </div>
                            </div>
                            <div class="log-btn">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Save Changes</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Edit Profile Content End ==-->

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#Phone').keyup(function () {
                $(this).val($(this).val().replace(/(\d{3})\-?(\d{3})\-?(\d{4})/, '$1-$2-$3'))
            });

            $('#myMenu.nav.nav-tabs li.nav-item.active').removeClass('active');
            $("#menu_item_2").parent("li").addClass('active');
        });
    </script>
}
