@model SmartMoveWebApp.Models.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Customer Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--== Login Page Content Start ==-->
<section id="login-page-wrap" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 m-auto">
                <div class="login-page-content">
                    <div class="login-form">
                        <h3>Welcome Back!</h3>
                        @using (Html.BeginForm("Login", "Customers"))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "danger" })

                            <div class="username">
                                <div class="form-group">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email id" })
                                </div>
                            </div>
                            <div class="username">
                                <div class="form-group">
                                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                </div>
                            </div>
                            <div class="log-btn">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Sign in</button>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="create-ac">
                        <p>Don't have an account? <a href="@Url.Action("Register", "Customers")">Sign Up</a></p>
                    </div>
                    <div class="login-menu">
                        <a href="@Url.Action("About", "Home")">About</a>
                        <span>|</span>
                        <a href="@Url.Action("Contact", "Home")">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Login Page Content End ==-->
