@model SmartMoveWebApp.Models.ViewModels.RegisterCustomerViewModel
@{
    ViewBag.Title = "Customer Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--== Login Page Content Start ==-->
<section id="login-page-wrap" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 m-auto">
                <div class="login-page-content">
                    <div class="login-form">
                        <h3>Register as a Customer</h3>
                        <h6>Note: Required fields are marked with *</h6>
                        @using (Html.BeginForm("Register", "Customers"))
                        {
                            @Html.AntiForgeryToken()
                            <div class="name">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name *" })
                                            @Html.ValidationMessageFor(m => m.FirstName)
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name *" })
                                            @Html.ValidationMessageFor(m => m.LastName)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email id *" })
                                        @Html.ValidationMessageFor(m => m.Email)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Phone Number *" })
                                        @Html.ValidationMessageFor(m => m.Phone)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password *" })
                                        @Html.ValidationMessageFor(m => m.Password)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password *" })
                                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Address1, new { @class = "form-control", placeholder = "Address Line 1 *" })
                                        @Html.ValidationMessageFor(m => m.Address1)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.Address2, new { @class = "form-control", placeholder = "Address Line 2" })
                                        @Html.ValidationMessageFor(m => m.Address2)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control", placeholder = "Zip Code *" })
                                        @Html.ValidationMessageFor(m => m.ZipCode)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "City *" })
                                        @Html.ValidationMessageFor(m => m.City)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.TextBoxFor(m => m.State, new { @class = "form-control", placeholder = "State *" })
                                        @Html.ValidationMessageFor(m => m.State)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                            <div class="log-btn">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Sign up</button>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="create-ac">
                        <p>Have an account? <a href="@Url.Action("Login", "Customers")">Sign In</a></p>
                    </div>
                    <div class="login-menu">
                        <a href="@Url.Action("About", "Home")">About</a>
                        <span>|</span>
                        <a href="@Url.Action("Contact", "Home")">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Login Page Content End ==-->

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#Phone').keyup(function () {
                $(this).val($(this).val().replace(/(\d{3})\-?(\d{3})\-?(\d{4})/, '$1-$2-$3'))
            });
        });
    </script>
}