@model SmartMoveWebApp.TruckOwner
@{
    ViewBag.Title = "Driver Dashboard";
    Layout = "~/Views/Shared/_TruckOwnersLayout.cshtml";
}

<!-- Dashboard Content start -->
<div class="col-lg-9">
    <div class="tab-content" id="myTabContent">
        <!-- Dashboard  start -->
        <div class="tab-pane fade show active" id="team_member_1" role="tabpanel" aria-labelledby="tab_item_1">
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-member-info">
                        <h4 class="text-center">Profile</h4>
                        <div class="row col-lg-12 profile-title">
                            <h4>General Information</h4>
                        </div>
                        <div class="row col-lg-12 text-left profile-title">
                            <div class="col-lg-2">
                                <h5>Name</h5>
                            </div>
                            <div class="col-lg-4">
                                <p>@Model.FirstName @Model.LastName</p>
                            </div>
                            <div class="col-lg-2">
                                <h5>Email</h5>
                            </div>
                            <div class="col-lg-4">
                                <p>@Model.Email</p>
                            </div>
                        </div>
                        <div class="row col-lg-12 text-left profile-title">
                            <div class="col-lg-2">
                                <h5>Phone</h5>
                            </div>
                            <div class="col-lg-4">
                                <p>@Model.Phone</p>
                            </div>
                            <div class="col-lg-2">
                                <h5>Address</h5>
                            </div>
                            <div class="col-lg-4">
                                <span>@Model.Address1</span><br />
                                <span>@Model.Address2</span>
                            </div>
                        </div>
                        <div class="row col-lg-12 text-left profile-title">
                            <div class="col-lg-2">
                                <h5>Zip Code</h5>
                            </div>
                            <div class="col-lg-4">
                                <p>@Model.City, @Model.ZipCode</p>
                            </div>
                            <div class="col-lg-2">
                                <h5>State</h5>
                            </div>
                            <div class="col-lg-4">
                                <p>@Model.State</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dashboard  End -->
    </div>
</div>
<!-- Dashboard Content End -->
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#myMenu.nav.nav-tabs li.nav-item.active').removeClass('active');
            $("#menu_item_2").parent("li").addClass('active');
        });
    </script>
}