@model SmartMoveWebApp.Models.ViewModels.EditDriverProfileViewModel
@{
    ViewBag.Title = "Edit Driver Profile";
    Layout = "~/Views/Shared/_TruckOwnersLayout.cshtml";
}

<!--== Edit Profile Content Start ==-->
<div class="col-lg-9">
    <div class="tab-content" id="myTabContent">
        <!-- Dashboard  start -->
        <div class="tab-pane fade show active" id="team_member_1" role="tabpanel" aria-labelledby="tab_item_1">
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-member-info">
                        <h4 class="text-center">Edit Your Driver Profile</h4>
                        <h5 class="text-center">Note: Required fields are marked with <span style="color:red">*</span></h5>
                        @using (Html.BeginForm("EditProfile", "TruckOwners", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(m => m.TruckOwnerId)

                            <div class="row col-lg-12 profile-title">
                                <h4>Update Profile Picture</h4>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    @Html.LabelFor(m => m.ProfilePictureURL)
                                    @Html.TextBoxFor(m => m.ProfilePictureURL, new { @class = "form-control", type = "file" })
                                    @Html.ValidationMessageFor(m => m.ProfilePictureURL)
                                </div>
                            </div>
                            <div class="row col-lg-12 profile-title">
                                <h4>General Information</h4>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.FirstName)<span style="color:red">*</span>
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First Name *" })
                                        @Html.ValidationMessageFor(m => m.FirstName)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.LastName)<span style="color:red">*</span>
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Last Name *" })
                                        @Html.ValidationMessageFor(m => m.LastName)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Address1)<span style="color:red">*</span>
                                        @Html.TextBoxFor(m => m.Address1, new { @class = "form-control", placeholder = "Address Line 1 *" })
                                        @Html.ValidationMessageFor(m => m.Address1)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Address2)
                                        @Html.TextBoxFor(m => m.Address2, new { @class = "form-control", placeholder = "Address Line 2" })
                                        @Html.ValidationMessageFor(m => m.Address2)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ZipCode)<span style="color:red">*</span>
                                        @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control", placeholder = "Zip Code *" })
                                        @Html.ValidationMessageFor(m => m.ZipCode)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.City)<span style="color:red">*</span>
                                        @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "City *" })
                                        @Html.ValidationMessageFor(m => m.City)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.State)<span style="color:red">*</span>
                                        @Html.TextBoxFor(m => m.State, new { @class = "form-control", placeholder = "State *" })
                                        @Html.ValidationMessageFor(m => m.State)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Phone)<span style="color:red">*</span>
                                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", placeholder = "Phone Number *" })
                                        @Html.ValidationMessageFor(m => m.Phone)
                                    </div>
                                </div>
                            </div>
                            <div class="row col-lg-12 profile-title">
                                <h4>Truck Information</h4>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.TruckTypeId)<span style="color:red">*</span>
                                        @Html.DropDownListFor(m => m.TruckTypeId, Model.TruckTypes, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.TruckTypeId)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.TruckMake)<span style="color:red">*</span>
                                        @Html.TextBoxFor(m => m.TruckMake, new { @class = "form-control", placeholder = "Truck Make *" })
                                        @Html.ValidationMessageFor(m => m.TruckMake)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.TruckModel)<span style="color:red">*</span>
                                        @Html.TextBoxFor(m => m.TruckModel, new { @class = "form-control", placeholder = "Truck Model *" })
                                        @Html.ValidationMessageFor(m => m.TruckModel)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.TruckYear)<span style="color:red">*</span>
                                        @Html.TextBoxFor(m => m.TruckYear, new { @class = "form-control", placeholder = "Truck Year *" })
                                        @Html.ValidationMessageFor(m => m.TruckYear)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.LicensePlate)<span style="color:red">*</span>
                                        @Html.TextBoxFor(m => m.LicensePlate, new { @class = "form-control", placeholder = "License Plate *" })
                                        @Html.ValidationMessageFor(m => m.LicensePlate)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.DriverLicenseNumber)<span style="color:red">*</span>
                                        @Html.TextBoxFor(m => m.DriverLicenseNumber, new { @class = "form-control", placeholder = "Driver License Number *" })
                                        @Html.ValidationMessageFor(m => m.DriverLicenseNumber)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.VehicleRegNumber)<span style="color:red">*</span>
                                        @Html.TextBoxFor(m => m.VehicleRegNumber, new { @class = "form-control", placeholder = "Vehicle Registration Number *" })
                                        @Html.ValidationMessageFor(m => m.VehicleRegNumber)
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.DriverInsurancePolicy)<span style="color:red">*</span>
                                        @Html.TextBoxFor(m => m.DriverInsurancePolicy, new { @class = "form-control", placeholder = "Driver Insurance Policy Number *" })
                                        @Html.ValidationMessageFor(m => m.DriverInsurancePolicy)
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.TruckColor)<span style="color:red">*</span>
                                        @Html.TextBoxFor(m => m.TruckColor, new { @class = "form-control", placeholder = "Truck Color *" })
                                        @Html.ValidationMessageFor(m => m.TruckColor)
                                    </div>
                                </div>
                            </div>
                            <div class="log-btn">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">Save Changes</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== Become Driver Content End ==-->

@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#Phone').keyup(function () {
                $(this).val($(this).val().replace(/(\d{3})\-?(\d{3})\-?(\d{4})/, '$1-$2-$3'))
            });

            $("#ZipCode").keyup(function () {
                let val = $(this).val();
                if (val.length > 5) {
                    let digits = val.split(/(\d{1,5})/);
                    let str = "";
                    for (let group of digits) {
                        if (/^\d+$/.test(group)) {
                            str += group + "-";
                        }
                    }
                    str = str.substring(0, str.length - 1);
                    $(this).val(str);
                }
            });

            $('#myMenu.nav.nav-tabs li.nav-item.active').removeClass('active');
            $("#menu_item_2").parent("li").addClass('active');
        });
    </script>
}
